@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@font-face {
  font-family: 'Moneta';
  src: url('../public/fonts/Moneta-Regular.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 120%;
}

html {
  /* background: linear-gradient(180deg, #000000 1.71%, rgba(7, 6, 61, 0.93) 47.1%, #000000 90.48%); */
  /* background-attachment: fixed; */
  font-family: "Space Grotesk", sans-serif;
}

.wallet-adapter-button-trigger {
  background-color: #512da8;
}